<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Righteous|Roboto:300,400,500,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <script src="/jquery.min.js"></script>
    <script src="/js/validate.min.js"></script>
    <title>CR01-14-Project</title>
  </head>

  <body>
    {{#unless dashboard}}
      {{>header}}
    {{/unless}}
    {{{body}}}
  </body>
</html>